<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Generator of users</h1>
    <form action="/" method="get">
        Seed: <input type="number" name="seed" value="{{seed}}">
        Locale: <input type="text" name = "locale" value="{{locale}}">
        <button type="submit">Generate</button>
    </form>
    {% if user %}
        <table border="1">
    <tr><td>Name</td><td>{{ user[1] }} {{ user[2] }}</td></tr>
    
    <tr><td>City</td><td>{{ user[3] }}</td></tr>
    
    <tr><td>Coordinates</td><td>{{ user[4] }}, {{ user[5] }}</td></tr>
    
    <tr><td>Height/weight</td><td>{{ user[6] }} sm / {{ user[7] }} kg</td></tr>
</table>
        {% endif %}
</body>
</html>